<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marcosdiez.ingressurltogps"
    android:versionCode="3"
    android:versionName="1.03" >

    <uses-sdk android:targetSdkVersion="19" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/avatar"
        android:label="@string/app_name"
        >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="ingress.com" android:pathPrefix="/intel"/>
                <data android:scheme="https" android:host="ingress.com" android:pathPrefix="/intel"/>
                <data android:scheme="http" android:host="www.ingress.com" android:pathPrefix="/intel"/>
                <data android:scheme="https" android:host="www.ingress.com" android:pathPrefix="/intel"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
